<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CNN Sentence Classification</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">
  </head>
  <body>
    {% include 'includes/_navbar.html' %}
    <div class="container">
      {% block body %}{% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script>
    $(document).ready(function(){
      $('#pred_table').dataTable(
        { "order" : [[ 0, "desc" ]] }
      );
    });
    </script>

  </body>
</html>
